:root{


/* (sub-heading at the top of the app UI) */
--PaleViolet: hsl(276, 100%, 81%);

/* (chat on the left) */
--ModerateViolet: hsl(276, 55%, 52%);

/* (chat on the right) */
--DesaturatedDarkViolet: hsl(271, 15%, 43%);

/* (placeholder text) */
--GrayishBlue: hsl(206, 6%, 79%);

/* (main heading) */
--VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);

/* (paragraph) */
--DarkGrayishViolet: hsl(270, 7%, 64%);

/* my var */

--MessengerWidth: 230px;

--BackgroundColor: hsl(0, 0%, 98%);

--LeftBackgroundWidth: 550px;

--LightViolet: rgba(255,68,254,1);

--NavyBlue: rgba(139,59,255,1);

--RightBackgroundColor: rgb(247,245,250);

--RightBackgroundWidth: 530px;

--MsgLeftBackground: rgb(237, 229,244);

--MsgRightBackground: white;

--NewMsgHeight: 32px;
   
}
    
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.wrapper{
    background-color: var(--BackgroundColor);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    position: relative; 
    overflow: hidden;
}

.left_background{
    width: var(--LeftBackgroundWidth);
    height: 1330px;
    background: linear-gradient(180deg, rgba(255,68,254,1) 0%, rgba(139,59,255,1) 100%);
    position: absolute;
    top: -700px;
    left: -140px;
    border-bottom-left-radius: calc(var(--LeftBackgroundWidth)/2);
    border-bottom-right-radius: calc(var(--LeftBackgroundWidth)/2);
}

.right_background{
    width: var(--RightBackgroundWidth);
    height: 750px;
    background: var(--RightBackgroundColor);
    position: absolute;
    right: -200px;
    bottom: 0px;
    border-top-left-radius: calc(var(--RightBackgroundWidth)/2);
    border-top-right-radius: calc(var(--RightBackgroundWidth)/2);
}

.messenger{
    width: var(--MessengerWidth);

    position: absolute;
    top: 110px;
    left:330px;
    background-color: var(--BackgroundColor);
    border: white solid 9px;
    border-radius: 25px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    
}

.msg_header{
    background: linear-gradient(90deg, rgba(139,59,255,1) 0%, rgba(255,68,254,1) 100%);
    width: 100%;
    height: 62px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.msg_header_white_box_positioning{
    display: flex;
    justify-content: center;
}

.msg_header_white_box{
    width:56%;
    height: 15px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.msg_header_person{
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    
}

.msg_header_person_arrow{
    color: white;
    font-weight: 500;
}

.msg_header_person_face{
    margin-left: 6px;
    margin-right: 8px;
    width: 24px;
    border-radius: 50%;
    border: white solid 1px;
}

.msg_header_person_name{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.msg_header_person_name2{
    color: white;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.1em;
}

.msg_header_person_status{
    color: white;
    font-weight: 400;
    font-size: 5px;
    letter-spacing: 0.3em;
}

.msg_header_person_menu{
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 0xp;
    position: relative;
}



.msg_header_person_menu::before{
    content: '';
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
}
    

.msg_header_person_menu::after{
    content: '';
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
}




.msg_left{
    max-width: 60%;
    background-color: var(--MsgLeftBackground);
    border-radius: 5px;
    border-bottom-left-radius: 2px;
    margin: 7px 7px 0px 7px;
    color: var(--ModerateViolet);
    padding: 7px;
    font-size: 7px;

}

.msg_right{
    max-width: 60%;
    background-color: var(--MsgRightBackground);
    border-radius: 5px;
    border-bottom-right-radius: 2px;
    margin: 7px 7px 0px 7px;
    color: var(--DesaturatedDarkViolet);
    padding: 7px;
    font-size: 7px;
    margin-left: auto;
    text-align: right;
    
}


.msg_right_pic{
    max-width: 70%;
    /*
    margin-right: 7px;
    margin-left: auto;
    */

    margin: 7px 7px -7px auto;
    text-align: right;
}

.msg_right_pic img{
    width: 38px;
    height: 38px;
    border-radius: 6px;
}

.pricing_left{
    background: linear-gradient(90deg, rgba(255,68,254,1) 0%, rgba(139,59,255,1) 100%);
    width: 75%;
    border-radius: 8px;
    margin: 7px;
    border-bottom-left-radius: 3px;
    padding: 7px;
    color: white;
    display: flex;
    align-items: center;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: none;
    border: white solid 1px;
}

.time_pricing{
    font-size: 7px;
    margin-left: 8px;
}

.price{
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: auto;
}

.new_msg{
    background-color: white;
    height: var(--NewMsgHeight);
    border-radius: calc(var(--NewMsgHeight)/2);
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 14px;
}


.new_msg  input[type="text"]{
    background-color: white;
    width:75%;
    height: 24px;
    color: var(--DarkGrayishViolet);
    margin-left: 15px;
    border-style: none;
    font-size: 16px;
}

.new_msg form{
    display: flex;
    justify-content: space-between;
}


.new_msg  input[type="text"]::placeholder{
    font-size: 10px;
}

.new_msg  input[type="text"]:focus{
    outline: none;
}

.new_msg  input[type="submit"]{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: none;
    font-weight: 700;
    margin-right: 4px;
}

.info{
    position: absolute;
    width: 450px;
    top: 250px;
    left: 700px;
}

.info_title{
    color: var(--VeryDarkDesaturatedViolet);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 28px;
}

.info_text{
    color: var(--DesaturatedDarkViolet);
    line-height: 30px;
}
